* {
    margin: 0;
    padding: 0;
    font-family: "Quicksand";
    font-style: normal;
}




.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-left: 8px;
    padding-right: 8px;
}

.left-wrapper {
    display: flex;
    align-items: center;
    gap: 32px;
}

.burger-menu {
    display: flex;
    padding: 10px 8px;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    border-radius: 4px;
    background: #0F8277;
}

.line-menu {
    width: 26px;
    height: 2px;
    border-radius: 100px;
    background: #EEE;
}

.logo a {
    color: #000;
    font-size: 22px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.44px;
    text-decoration: none;
}

.Explore-button {
    display: flex;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    background: #0F8277;
    border: none;
    display: none;
}

.Explore-button span {
    color: #EEE;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
}

.search-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #5C5C5C;
    width: 330px;
    display: none;
    height: 36px;
}

.search {
    padding-left: 12px;
    border: none;
    outline: none;
    color: #5C5C5C;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    height: 100%;
}

.button-wrap {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 4px;
    background: #0F8277;
}

.right-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 32px;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 48px;
    display: none;
}

.nav-menu span {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
}


.button-menu {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.button-search {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border: 1px solid #5C5C5C;
    border-radius: 4px;
    background: #0F8277;
    display: none;
}

.log-in {
    display: flex;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
}

.log-in a {
    color: #0F8277;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
}

.sing-up {
    display: flex;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #0F8277;
    border: none;
}

.sing-up a {
    color: #EEE;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
}

main {
    padding-top: 16px;
}

.learn-block {
    height: 575px;
    flex-shrink: 0;
    border-radius: 12px;
    background: #DBF3ED;
    margin-left: 8px;
    margin-right: 8px;
}

.learn-comfortably {
    display: flex;
    width: 327px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
    padding: 118.5px 16px 118.5px 16px;
}

.learn-comfortably h1 {
    color: #000;
    font-size: 46px;
    font-weight: 700;
    line-height: 120%;
}

.learn-comfortably span {
    color: #000;
    font-weight: 600;
    line-height: 120%;
    font-size: 18px;
}

.button-learn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

.button-learn button {
    display: flex;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 700;
    line-height: 120%;
    text-align: center;

}

.start-learning {
    border-radius: 4px;
    background: #0F8277;
    border: none;
    color: #EEE;
}

.start-learning a {
    text-decoration: none;
    color: #EEE;
}

.learn-more {
    border-radius: 4px;
    border: 2px solid #0F8277;
    color: #0F8277;
    text-align: center;

}

.learn-more a {
    text-decoration: none;
    color: #0F8277;
}

.best-prog {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    padding-top: 62px;
    padding-left: 8px;
    padding-right: 8px;
}

.heading-prog {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;

}

.heading-prog span {
    color: #0F8277;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
}

.heading-prog b {
    font-size: 30px;
    font-weight: 700;
    line-height: 120%;
    align-self: stretch;
}

.heading-prog p {
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    align-self: stretch;
}

.acad-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.cadr-acad {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid #DADADA;
    width: 358px
}

.img-card img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 359px;
    height: 278px;
    flex-shrink: 0;
}

.card-curses {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid #DADADA;
    width: 358px;
}

.card-content {
    display: flex;
    padding: 24px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;

}

.dan-logo {
    display: flex;
    align-items: center;
    gap: 12px;
    align-self: stretch;
}

.text-dan-logo {

    overflow: hidden;
    color: #000;
    text-overflow: ellipsis;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
}

.get {
    display: flex;
    align-items: center;
    gap: 12px;
}

.get a {
    color: #0F8277;
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
    text-decoration: none;
}

.text-card {
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
    text-overflow: ellipsis;
}


.img-card2 img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 359px;
    height: 278px;
    flex-shrink: 0;
}

.img-card3 img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 359px;
    height: 278px;
    flex-shrink: 0;
}

.curses-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.logo-curse {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.img-card4 img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 359px;
    height: 278px;
    flex-shrink: 0;
}


.content-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.img-card5 img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 359px;
    height: 278px;
    flex-shrink: 0;
}

.img-card6 img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 359px;
    height: 278px;
    flex-shrink: 0;
}

.img-card7 img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 359px;
    height: 278px;
    flex-shrink: 0;
}

.more-curses {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    padding-left: 8px;
    padding-right: 8px;
}

.more-curses span {
    color: #0F8277;
    font-size: 16px;
    font-weight: 700;
}

.block-category {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    padding-top: 64px;
    padding-left: 8px;
    padding-right: 8px;
}

.block-category h2 {
    font-size: 30px;
    font-weight: 700;
}

.category-all {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.category-col {
    display: flex;
    align-items: flex-start;
    gap: 24px;
}

.category-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    width: 168px;
}

.subcategory {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.subcategory span {
    color: #0F8277;
    font-size: 14px;
    font-weight: 700;
}

.subcategory p {
    font-size: 14px;
    font-weight: 500;
}

.partners-block {
    background: #DBF3ED;
    display: flex;
    width: 375px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
}

.partners-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    align-self: stretch;
    text-align: center;
    padding: 64px 8px;
}

.partners-wrapper span {
    font-size: 30px;
    font-weight: 700;
}

.partners-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.partners-col {
    display: flex;
    align-items: flex-start;
    gap: 14px;
    align-items: center;
}

.bussines {
    padding-top: 62px;
    padding-left: 8px;
    padding-right: 8px;
    gap: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.business-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

h4 {
    font-size: 30px;
    font-weight: 700;
}

.business-content span {
    font-size: 18px;
    font-weight: 600;
}

.contact-button {
    border-radius: 4px;
    background: #0F8277;
    display: flex;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border: none;
}

.contact-button a {
    font-size: 14px;
    font-weight: 700;
    color: #EEE;
    text-decoration: none;

}

.bussenes-brand {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.box-brand {
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
    width: 116px;
    height: 66px;
}

.brand-items1 {
    border-right: 1px solid #BABABA;
    border-bottom: 1px solid #BABABA;
}

.brand-items2 {
    border-bottom: 1px solid #BABABA;
}

.brand-items3 {
    border-bottom: 1px solid #BABABA;
    border-left: 1px solid #BABABA;
}

.brand-items4 {
    border-right: 1px solid #BABABA;
}

.brand-items6 {
    border-left: 1px solid #BABABA;
}

.brand-items7 {
    border-top: 1px solid #BABABA;
    border-right: 1px solid #BABABA;
}

.brand-items8 {
    border-top: 1px solid #BABABA;
}

.brand-items9 {
    border-top: 1px solid #BABABA;
    border-left: 1px solid #BABABA;
}

.price-block {
    background: #DBF3ED;
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 64px 8px 80px 8px;
}

h5 {
    font-size: 30px;
    font-weight: 700;
}

.price-plan {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
}

.card-price {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    box-sizing: border-box;
    padding: 32px;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    border-radius: 24px;
    border: 1px solid #0F8277;
    background: #FDFDFD;
    gap: 32px;
}

.card-title {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 24px;
}

.card-title__text {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
}

.title-text__desctip {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;

}

.pay-price {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 30px;
    font-weight: 700;
    line-height: 120%;
}

.pay-price span {
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
    text-transform: uppercase;
}

.card-price__button {
    display: flex;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 4px;
    background: #0F8277;
    border: 2px solid #FFF;
}

.card-price__button a {
    text-decoration: none;
    color: white;
}

.line-card {
    border-radius: 80px;
    background: #0F8277;
    height: 2px;
    width: 100%;
    border: none;
}

.card-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.card-list li {
    display: flex;
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
    list-style-type: none;
    gap: 18px;
}

.vector {
    width: 16px;
    height: 16px;
}

.green-card {
    background: #0F8277;
    border: 1px solid #0F8277;

}

.green-title {
    color: white;
}

.gree-line {
    background: #FFF;
}

.pointer-green {
    color: white;
}

.students-block {
    display: flex;
    padding: 64px 8px 0 8px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

h6 {
    font-size: 30px;
}

.students-wrapper {
    display: grid;
    grid-template-columns: 167px 167px;
    grid-template-rows: 116px 116px 116px 116px 116px 116px;
    gap: 24px;
}

.img-item {
    width: 100%;
}

.item-img__top-widh-phone {
    grid-row: span 2;
    grid-column: span 2;
}

.contact-form {
    display: flex;
    background: #DBF3ED;
    padding: 64px 8px;
    flex-direction: column;
    gap: 24px;
    margin-top: 64px;
}

.heading-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}

.title-contact-form {
    font-size: 30px;
    font-weight: 700;
}

.text-contact-form {
    font-size: 16px;
    font-weight: 500;

}

label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;

}

input {
    color: #8E8E8E;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    box-sizing: border-box;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #0F8277;
    background: #FDFDFD;
}

#message {
    display: flex;
    height: 104px;
    box-sizing: border-box;
    padding: 12px;
    align-items: flex-start;

}

.form-button {
    display: flex;
    padding: 10px 12px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 4px;
    background: #0F8277;
    border: none;
    color: white;
}

footer {
    display: flex;
    padding: 32px 8px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.left-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}

.title-footer {
    font-size: 22px;
    font-weight: 700;
}

.text-footer {
    font-size: 14px;
    font-weight: 500;
}

.right-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    align-self: stretch;
}

.social-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}


@media (min-width:768px) {
    .nav {
        padding-left: 12px;
        padding-right: 12px
    }

    .button-search {
        display: block;
    }

    .log-in a {
        font-size: 16px;
    }

    .sing-up a {
        font-size: 16px;
    }

    .learn-block {
        height: 484px;
        flex-shrink: 0;
        background: url(./img/Mask\ group.svg), #DBF3ED 50%;
        background-repeat: no-repeat;
        background-position: 93% center;
        margin-left: 12px;
        margin-right: 12px;
    }

    .learn-comfortably {
        width: 380px;
        padding: 103px 300px 104px 64px;
    }


    .learn-block img {
        display: block;
        position: absolute;
        top: 148px;
        right: 40px;
    }

    .button-learn {
        display: flex;
        flex-direction: row;
    }

    .acad-block {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }

    .best-prog {
        padding-left: 12px;
        padding-right: 12px
    }

    .heading-prog {
        width: 544px;

    }

    .cadr-acad {
        width: 232px;
    }

    .img-card img {
        width: 232px;
        height: 180px;
    }

    .img-card2 img {
        width: 232px;
        height: 180px;
    }

    .img-card3 img {
        width: 232px;
        height: 180px;
        background-position: center;
        background-size: contain;
    }

    .curses-block {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }

    .img-card4 img,
    .img-card5 img,
    .img-card6 img,
    .img-card7 img {
        width: 168px;
        height: 130px;
        background-position: center;
        background-size: contain;
    }

    .card-curses {
        width: 168px;
        height: 390px;
    }

    .card-content {
        display: flex;
        padding: 24px 16px;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        flex: 1 0 0;
        align-self: stretch;
    }

    .block-category {
        gap: 40px;
        padding-left: 12px;
        padding-right: 12px
    }

    .category-all {
        flex-direction: row;
    }

    .category-card {
        height: 252px;
    }

    .partners-block {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .partners-wrapper {
        gap: 40px;
        padding: 64px 12px;
    }

    .partners-col {
        display: flex;
        flex-direction: row;
        gap: 14px;
    }

    .partners-icon {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 14px;
    }

    .bussines {
        display: flex;
        align-items: center;
        gap: 24px;
        flex-direction: row;
    }

    .business-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
        flex-wrap: wrap;
        flex-direction: row;

    }

    .price-plan {
        flex-direction: row;
        justify-content: center;
    }

    .card-price {
        width: 232px;
    }

    .card-price__button {
        align-self: center;
    }

    .first-card {
        margin-bottom: 36px;
    }

    .third-card {
        margin-bottom: 30px;
    }

    .students-wrapper {
        grid-template-rows: 116px 116px 116px;
        grid-template-columns: 167px 167px 167px 167px;
    }

    .item-img__top-widh-phone {
        grid-column: span 1;
        grid-row: span 1;

    }

    .item-img__top-widh-desctop {
        grid-row: span 2;
        grid-column: span 2;

    }

    .form-button {
        width: 168px;
    }

    footer {
        flex-direction: row;
        justify-content: space-between;
    }

    .left-footer {
        align-items: flex-start;
        width: 306px;
    }

    .right-footer {
        gap: 0;
        justify-content: space-between;
    }

    .social-wrapper {
        justify-content: flex-end;
    }

}

@media (min-width:1200px) {


    .nav {
        padding-top: 30px;
        padding-left: 36px;
        padding-right: 36px
    }

    .left-wrapper {
        gap: 44px;
    }

    .logo a {
        font-size: 32px;
    }

    .burger-menu {
        display: none;
    }

    .Explore-button {
        display: block;
    }

    .search-wrap {
        display: block;
        display: flex;
    }

    .right-wrapper {
        gap: 104px;
    }

    .button-search {
        display: none;
    }

    .nav-menu {
        display: block;
        display: flex;
    }

    .learn-block {
        height: 602px;
        flex-shrink: 0;
        background-image: url(./img/img1v3.jpg);
        background-repeat: no-repeat;
        background-position-x: 95%;
        margin-left: 36px;
        margin-right: 36px
    }

    .learn-comfortably {
        width: 512px;
        padding: 170px 0 184px 110px;

    }

    .learn-comfortably h1 {
        font-size: 56px;

    }

    .learn-comfortably span {
        width: 482px;
        font-size: 22px;
    }

    .button-learn a {
        font-size: 16px;
    }

    .learn-block img {
        width: 800px;
        height: 533px;
        flex-shrink: 0;

    }

    .best-prog {
        padding-left: 36px;
        padding-right: 36px
    }

    .cadr-acad {
        width: 416px;
    }

    .img-card img,
    .img-card2 img,
    .img-card3 img {
        width: 416px;
        height: 300px;

    }



    .text-dan-logo {
        font-size: 16px;
    }

    .text-card {
        font-size: 24px;
    }

    .get a {
        font-size: 16px;

    }

    .heading-prog {
        width: auto;
    }

    .heading-prog span {
        font-size: 20px;
    }

    .heading-prog b {
        font-size: 40px;
    }

    .heading-prog p {
        font-size: 20px;
    }

    .card-curses {
        width: 306px;
        height: 480px;
    }

    .logo-curse {
        display: flex;
        flex-direction: row;
    }

    .img-card4 img,
    .img-card5 img,
    .img-card6 img,
    .img-card7 img {
        width: 306px;
        height: 237px;
        background-position: center;
        background-size: contain;
    }

    .block-category {
        padding-left: 36px;
        padding-right: 36px
    }

    .category-card {
        width: 306px;
        height: 284px;
    }

    .category-all {
        gap: 24px;
    }

    .partners-block {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .partners-wrapper {
        gap: 40px;
        padding: 80px 36px;
    }

    .partners-wrapper span {
        font-size: 40px;
        width: 871px;
    }

    .partners-col {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }

    .partners-icon {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 60px;
    }

    .illinois {
        width: 178px;
    }

    .google {
        width: 122px;
    }

    .duke {
        width: 106px;
    }

    .M {
        width: 63px;
    }

    .IBN {
        width: 96px;
    }

    .penn {
        width: 135px;
    }

    .icl {
        width: 152px;
    }

    .stanford {
        width: 151px;
    }

    .box-brand {
        display: flex;
        padding: 10px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        box-sizing: border-box;
        width: 196px;
        height: 136px;

    }

    .bussines {
        display: flex;
        flex-direction: row;
        gap: 72px;
        padding: 64px 32px 0 32px;
    }

    .business-content h4 {
        font-size: 40px;
        font-weight: 700;
    }

    .business-content {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 32px;
        width: 636px;
    }



    .business-content span {
        font-size: 22px;
        font-weight: 600;
        width: 568px;
    }

    .brand-items1 img {
        width: 150px;
        height: 27px;
    }

    .brand-items2 img {
        width: 62px;
        height: 62px;
    }

    .brand-items3 img {
        width: 111px;
        height: 80px;
    }

    .brand-items4 img {
        width: 150px;
        height: 48px;
    }

    .brand-items5 img {
        width: 63px;
        height: 57px;
    }

    .brand-items6 img {
        width: 151px;
        height: 42px;
    }

    .brand-items7 img {
        width: 150px;
        height: 34px;
    }

    .brand-items8 img {
        width: 61px;
        height: 60px;
    }

    .brand-items9 img {
        width: 150px;
        height: 29px;
    }

    .price-block {
        padding: 80px 36px 100px 36px;
    }

    .card-price {
        width: 416px;
        gap: 48px;
        padding: 56px;
    }

    h5 {
        font-size: 40px;
    }

    .card-pointer p {
        font-size: 16px;
    }

    .card-title__text {
        font-size: 24px;
    }

    .title-text__desctip {
        font-size: 16px;
    }

    .pay-price {
        font-size: 40px;
    }

    .pay-price span {
        font-size: 16px;
    }

    .students-wrapper {
        grid-template-rows: 190px 190px 190px;
        grid-template-columns: 280px 280px 280px 280px;
        padding: 0 8px;
        box-sizing: border-box;
    }

    .students-block {
        padding-top: 80px;
    }

    .contact-form {
        padding: 80px 256px;
    }

    .title-contact-form {
        font-size: 30px;
    }

    .text-contact-form {
        font-size: 16px;
    }

    input {
        font-size: 16px;
    }

    label {
        font-size: 22px;

    }

    #message {
        font-size: 16px;
    }
    footer{
        padding: 64px 36px;
    }
}